@mixin fonts($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background: #991907;
  font-family: 'Roboto', sans-serif;

 & .container {
   width: 920px;
   height: 900px;
   margin: 0 auto;
   display: flex;
   background: #000;

   @media (max-device-width: 768px ) {
       width: 600px;
   }
 }
}



